{% if include.src %}
<div class="vid-wrap">
    <video preload="auto" muted='muted' controls="controls" controlsList="nodownload" 
        src="{{ site.baseurl }}{{ include.src }}"
        {% if include.poster and include.poster != "" %}
            {%- assign poster_path_webp = include.poster | replace: ".jpg", ".webp" | replace: ".jpeg", ".webp" | replace: ".png", ".webp" -%}
            poster="{{ site.baseurl }}{{ include.poster }}"
            data-poster-webp="{{ site.baseurl }}{{ poster_path_webp }}"
        {% endif %}>
        <p>
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>
{% endif %}